@model IEnumerable<Forum>
@{
    ViewData["Title"] = "Forum";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>

<div>
    <a class="btn btn-primary" asp-controller="CreateForum" asp-action="Index">Add new forum</a>
</div>

<div class="row">
    <div class="col-6">
        <table class="table table-bordered table-striped">            
            @foreach(var forum in Model)
            {
                <tr>
                    <td>
                        <a asp-action="DetailForum" asp-action="Index" asp-route-idForum="@forum.Id">@forum.Title</a>
                    </td>
                    <td>
                        @forum.Description
                    </td>
                </tr>
            }
        </table>
    </div>
</div>

